body{
    background-color: #F5F7F8;
    color: #45474b;
    margin: 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 3.5rem;
    color: #45474b;
    font-family: "Playfair Display", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
h2{
    color: #495E57;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: bolder;
    grid-area: 1 / 3 / 1 / 3
  
}
h3{
    color: #495E57;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 1rem;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}
hr{
    border: dotted #afb8bd 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: darkblue;
}
.top-container{
    background-color: #F4CE14;
    display: grid;
    gap: 3rem;
    grid-template-columns: auto;
}
.middle-container{
   margin: 100px 0;
}
.bottom-container{
    background-color: #495E57;
    padding: 50px 0  20px;
}

.msm{
    display: flex;
    align-items: right;
    justify-content: right;
    position: relative;
   
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.typing{
    height: 250px;
    width: 250px;
    float: left;
    margin-right: 30px;
}
.coding{
    float: left;
    margin-right: 30px;
    text-align: justify;
}
.chilli-img{
    height: 250px;
    width: 250px;
    float: right;
    margin-right: 30px;
}
.hot-wings{
    float: left;
    margin-right: 30px;
    text-align: justify;  
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.parent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}   
